.site-content {
  margin-top: 2rem;
}

.site-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ccc;
  background-color: #2f3232;
}

.site-logo {
  width: 188px;
  height: 20px;
  margin-top: 0.3rem;

  @media screen and (max-width: 40em) {
    display: block;
    float: none;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
  }
}

.site-nav {
  float: right;
  margin-top: 0.1rem;
  font-size: 0.9rem;

  ul {
    display: inline-block;
    list-style-type: none;

    li {
      display: block;
      float: left;
      margin-left: 2rem;

      @media screen and (max-width: 40em) {
        margin-left: 0;
      }

      .octicon {
        font-size: 18px;
      }
    }
  }

  a {
    display: block;
    height: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: rgba(255, 255, 255, 0.5);

    @media screen and (max-width: 40em) {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }

  a:hover {
    color: rgba(255, 255, 255, 1);
  }

  @media screen and (max-width: 40em) {
    width: 100%;
    padding-top: 1rem;
    margin-bottom: 0.8rem;
    text-align: center;
    border-top: 0.075rem solid rgba(255, 255, 255, 0.25);
  }
}

.site-footer {
  margin-top: 2em;
  margin-bottom: 2em;
  color: #777;
}

.made-with-heart {
  margin-bottom: 0.3em;
  font-size: 15px;

  a {
    position: relative;
    color: #777;
    text-decoration: none;
    transition: 0.2s color ease-in 0;

    &:hover { color: #333; }
  }
}
